<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<!-- Start of form -->
<div class="container">
    <div class="form">
        <h2 class="main-text">Sign up today</h2>
        <!-- Start of form -->
        <form method="post" action="/register" th:object="${registerRequest}" class="register-form">
            <input type="text" name="login" placeholder="Login">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <button class="btn" type="submit" name="register">Register</button>
            <p class="message">Already registered? <a href="/login">Sign In</a></p>
        </form>
        <!-- End of form -->
    </div>
</div>
<!-- End of form -->
</body>
</html>